*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
.screen{
    width: 100%;
    height: 100vh;
}
.navbar{
    width: 100%;
    height: 15vh;
    background-image: url(boowomp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.main{
    width: 100%;
    height: 85vh;
    display: flex;
}
.sidebar{
    width: 20%;
    height: 85vh;
    background-image: url(boowomp.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 80%;
    height: 85vh;
    background-color: beige;
    padding: 10px;
    overflow-y: scroll;
}
.navbar a{
    color: black;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.422);
    border-radius: 10px;
    width: 10%;
    text-align: center;
}
.navbar a:hover{
    color: gray;
    transform: scale(1.05);
    transition: 0.3s;
}
.content-sidebar{
    width: 90%;
    height: 80vh;
}
.content-sidebar h2{
    color: rgba(0, 0, 0, 0.758);
    margin-bottom: 30px;
}
.content-sidebar button{
    padding: 10px;
    background-color: rgba(165, 42, 42, 0.511);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    transition: 0.3s;
}
.content-sidebar a{
    text-decoration: none;
    color: white;
}
.content-sidebar button:hover{
    background-color: brown;
    transform: scale(1.05);
}
.about-me{
    width: 100%;
    display: flex;
    height: 15vh;
    margin-bottom: 10px;
}
.photo{
    width: 10%;
    height: 15vh;
}
.photo img{
    width: 100%;
    height: 15vh;
    border: 2px solid rgba(0, 0, 0, 0.326);
    border-radius: 20px;
}
.desc{
    width: 90%;
    height: 15vh;
    padding-left: 10px;
}
.desc h3{
    width: 100%;
    height: 5vh;
    background-color: brown;
    color: white;
    border: 2px groove rgba(165, 42, 42, 0.687);
    font-weight: 400;
}
.about-me2{
    width: 100%;
    height: fit-content;
}
.more{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.more img{
    width: 30%;
    height: 35vh;
    border: 2px groove rgba(108, 100, 36, 0.326);
    border-radius: 20px;
}
@media screen and (max-width: 768px){
    .navbar{
        height: 20vh;
    }
    .navbar a{
        font-size: 20px;
        width: 20%;
    }
    .photo img{
        height: 7vh;
        width: auto;
    }
    .desc h3{
        font-size: 12px;
        width: 85%;
        height: auto;
        margin-left: 30px;
    }
    .desc p{
        font-size: 10px;
        margin-left: 30px;
    }
    .about-me2{
        margin-bottom: 10px;
    }
    .more{
        height: fit-content;
    }
    .photo, .desc{
        height: fit-content;
    }
    .about-me{
        height: fit-content;
    }
    .more img{
        height: fit-content;
    }
}